@import url('https://fonts.googleapis.com/css?family=Noto Sans');

* {
    box-sizing: border-box;
    font-family: Noto Sans;
}

body {
    background-color: #2A2E30;
}

.galleryButton {
    background-color: #2A2E30;
    border: none;
    display:flex;
    float: right;
}

#videoContainer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fotoavtryckare-knapp {
    background-color: #FFFFFF;
    display: flex;
     border: none;
    color: #2A2E30;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
    
    height: 70px;
    width: 342px;
    left: 24px;
    top: 745px;
    border-radius: 4px;
    /* padding: 24px 16px 24px 16px; */
    Gap: 10px;

    font-style: normal;
    font-weight: 700;

    font-size: 16px;
    line-height: 22px;
    
    display: flexbox;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#fotoavtryckareknappNyBild {
    display: none;
    display: flex;
    background-color: #FFFFFF;
    border: none;
    color: #2A2E30;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
    
    height: 70px;
    width: 342px;
    border-radius: 4px;
    /* padding: 24px 16px 24px 16px; */
    Gap: 10px;

    font-style: normal;
    font-weight: 700;

    font-size: 16px;
    line-height: 22px;
    
    display: flexbox;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
    /* för kamera funktionen */
    #videoDiv, #picturediv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        min-width: 100vw;
        max-height: 291px;
        max-width: 342px;
    }
    

   /*  #canvasContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    #picture {
        width: 640px;
        height: 480px;
    }
    
    #pictureSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }
    
    #picture-div {
        display: none;
    }