@import url('https://fonts.googleapis.com/css?family=Noto Sans');

* {
    box-sizing: border-box;
    font-family: Noto Sans;
}

body {
    background-color: #2A2E30;
}

#buttonDiv {
    display: flex;
    flex-direction: row-reverse;
}

.galleryButton {
    background-color: #2A2E30;
    border: none;
    display:flex;
    
}

#videoContainer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fotoavtryckare-knapp {
    background-color: #FFFFFF;
    border: none;
    height: 70px;
    width: 342px;
    border-radius: 4px; 
    padding: 24px 16px;
    display: inline-block;
    margin: 4px 2px;
    padding: 24px 16px 24px 16px; 
    Gap: 10px;
    
    display: flex;
    justify-content: center;

    /* för texten */
    color: #2A2E30;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;  
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#fotoavtryckareknappNyBild {
    display: none;
    background-color: #FFFFFF;
    border: none;
    height: 70px;
    width: 342px;
    border-radius: 4px; 
    padding: 24px 16px;
    display: inline-block;
    margin: 4px 2px;
    padding: 24px 16px 24px 16px; 
    Gap: 10px;
    
    display: flex;
    justify-content: center;

    /* för texten */
    color: #2A2E30;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;  
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
    /* för kamera funktionen */
    #videoDiv, #picturediv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        min-width: 100vw;
        max-height: 291px;
        max-width: 342px;
    }
    
    #camera {
        width: 342px;
        height: 291px;
    }

   /*  #canvasContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    #picture {
        width: 342px;
        height: 291px;
    }
    
    #pictureSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }
    
    #picture-div {
        display: none;
    }