@import url('https://fonts.googleapis.com/css?family=Noto Sans');

* {
    box-sizing: border-box;
    font-family: Noto Sans;
}

body {
     background-color: #2A2E30; 
    
}

.capturePageButton {
     background-color: #2A2E30; 
   
    border: none;
    float: right;
}

#gallery {
    flex: 2 0 21%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    gap: 2em;

}

#divImageGallery { 
    height: 139px;
    width: 163px;
    left: 24px;
    top: 123px;
    border-radius: 4px;

}

#imgGal{
    height: 139px;
    width: 163px;
    border-radius: 4px;
}

/* Deleteknapp  */
#gallery div {
    position: relative;
    
}

#gallery div button {
    position: absolute;
    top: 10px;
    right: 10px;
    
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: lightslategray !important;
}